MONGODB_URI=your_mongodb_connection_string
WEATHER_MONGODB_URI=your_weather_mongodb_connection_string
OPENET_API_KEY=your_openet_api_key
AMBIENT_API_KEY=your_ambient_api_key
AMBIENT_APPLICATION_KEY=your_ambient_application_key
